APP_HOST=24vormor.ru
SERVER_IP=109.73.203.71
SECRET_KEY_BASE=replace-with-output-of-bin-rails-secret
ADMIN_EMAIL=admin@example.ru
ADMIN_PASSWORD=replace-with-strong-password
ASSUME_SSL=false
FORCE_SSL=false
